*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.topbar{
    background-color: #0084fd;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-right{
    margin: 0 auto;
}

.t-left{
    margin: 0 auto;
}

.t-left li{
    display: inline-block;
}

.t-left li+li{
    margin: 0 10px;
}

a{
    text-decoration-line: none;
    color: white;
}

#button{
    color: black;
    background-color: white;
    border-radius: 15px;
    padding: 5px 15px;
}

#menu-mobile{
    display: none;
}



/* First Section */

.cards-container{
    max-width: 900px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    background-color: #b5ddff;
    width: 30%;
    /* border: 1px solid black; */
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.card i{
    color:#0084fd;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card h3{
    color: #0084fd;
    margin-bottom: 10px;
}

.card p{
    color: #5b6f80;
    font-size: 18px;
    width: 80%;
    padding-bottom: 10px ;
}

.card + .card{
    margin: 20px 0 20px 0;
}

.card-bigger{
    /* height: 300px; */
    width: calc(100%/3 *2);
    background-color: #b5ddff;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
}

.cb-text{
    width: 60%;
    margin-top: 40px;
    margin-left: 40px;
}

.cb-text h3{
    color: #0084fd;
    margin-bottom: 20px;
}

.cb-text p{
    color: #5b6f80;
    margin-bottom: 10px;
    width: 80%;
}

#app-store{
    background-color: #0084fd;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
}

.cb-photo{
   width: 40%;
   display: flex;
}

.cb-photo img{
    max-height: 90%;
    max-width: 100%;
    align-self: flex-end;
    padding-top: 20px;
}




/* Second Section */
.section2-container{
    max-width: 100%;
    background-color: #9792e4;
    /* height: 500px; */
}


.strategic-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.planning{
    width: 50%;
    /* background-color: yellow; */
    /* height: 300px; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planning img{
    width: 70%;
    margin-left: 60px;
}

.planning-text{
    margin-left: 60px;
}

.planning h4{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}

.planning p{
    color: white;
    font-size: 15px;
    width: 80%;
}

.developement{
    width: 35%;
    background-color: white;
    border-radius: 20px;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.developement img{
    width: 55%;
}

.developement h4{
    font-size: 25px;
    margin: 15px 0;
}

.developement p{
    font-style: italic ;
    width: 80%;
    margin-bottom: 15px;
}

.developement i{
    background-color: #9792e4;
    border-radius: 50%;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}


/* Third Section */
.partners-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-text{
    margin-top: 50px;
}

.partners-text h6{
    text-align: center;
    margin-bottom: 40px;
}

.partners-text h3{
    text-align: center;
    color: #9792e4;
    font-size: 30px;
    margin-bottom: 40px;
}

.partners-text p{
    text-align: center;
    margin-bottom: 40px;
}


.user-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #9792e4;
    border-radius: 15px;
    
}

.user-form img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.user-form span{
    color: white;
}


/* Fifth section */

.aboutus-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.abu-text{
    width: 70%;
}


.abu-text h2{
    color: #9792e4;
    font-size: 50px;
    margin-bottom: 20px;
}

.abu-text p{
    margin-bottom: 20px;
    font-size: 18px;
    width: 90%;
    line-height: 2;
}

.abu-photo{
    width: 30%;
}

.abu-photo img{
    width: 80%;
    border-radius: 50%;
}








/* Tablet */
@media screen and (max-width: 768px) {

    /* header */
    #menu-desktop{
        display: none;
    }

    #menu-mobile{
        display: inline-block;
        color: white;
    }


    /* First section */
    .cards-container{
        width: 80%;
    }
    .card-bigger{
        display: flex;
        flex-direction: column;
    }

    .cb-text p{
        width: 100%;
    }

    /* Second section */

    .strategic-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .planning{
        width: 80%;
        /* background-color: yellow; */
        /* height: 300px; */
        /* margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .developement{
        margin-bottom: 40px;
        width: 70%;
    }



    /* Third section */


    .partners-text{
        margin-top: 50px;
        width: 80%;
    }

    .user-form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #9792e4;
        border-radius: 15px;
        margin: 30px 20px;
    }

    .user-form span{
        color: white;
    }
}

/* Smartphone */
@media screen and (max-width: 480px) {

    #menu-desktop{
        display: none;
    }

    #menu-mobile{
        display: inline-block;
        color: white;
    }

    .cards-container{
        display: block;
        margin: 120px auto;
    }

    .card, .card-bigger{
        width: 100%;
        margin: 20px 5px;
    }

    .strategic-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .developement{
        margin-bottom: 40px;
        width: 80%;
    }

    .user-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #9792e4;
        border-radius: 15px;
        margin: 30px 20px;
        
    }

    .user-form span{
        color: white;
    }

}

